<a href="https://colab.research.google.com/github/skdding3/Basic_statistic/blob/main/%EA%B9%80%EC%84%A0%EA%B8%B0/Stats_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 데이터 생성
import pandas
from pandas import DataFrame

source={"People": ["Sunki"]*4 + ["Jungseok"]*4 + ["Taekyu"]*4, 
'Yield':[39,46,48,43,46,52,49,53,41,47,39,37]}

DataA=DataFrame(source)
DataA

      People  Yield
0      Sunki     39
1      Sunki     46
2      Sunki     48
3      Sunki     43
4   Jungseok     46
5   Jungseok     52
6   Jungseok     49
7   Jungseok     53
8     Taekyu     41
9     Taekyu     47
10    Taekyu     39
11    Taekyu     37

In [7]:
# ANOVA 분석
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('Yield ~ C(People)', data=DataA).fit()
sm.stats.anova_lm(model, typ=1)

            df  sum_sq    mean_sq         F    PR(>F)
C(People)  2.0   168.0  84.000000  5.727273  0.024862
Residual   9.0   132.0  14.666667       NaN       NaN