<a href="https://colab.research.google.com/github/skdding3/Basic_statistic/blob/main/%EA%B9%80%EC%84%A0%EA%B8%B0/Stats_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

통계 연습용 신용카드 매출 데이터

In [25]:
import pandas as pd

df = pd.read_csv('/content/train.csv')

In [26]:
df

         store_id        date      time  ... installments  days_of_week  holyday
0               0  2016-12-14  18:05:31  ...          NaN             2        0
1               0  2016-12-14  18:05:54  ...          NaN             2        0
2               0  2016-12-19  12:42:31  ...          NaN             0        0
3               0  2016-12-19  12:48:08  ...          NaN             0        0
4               0  2016-12-19  13:31:08  ...          NaN             0        0
...           ...         ...       ...  ...          ...           ...      ...
3362791      1799  2018-07-19  17:58:31  ...          NaN             3        0
3362792      1799  2018-07-19  18:54:34  ...          NaN             3        0
3362793      1799  2018-07-22  14:46:57  ...          NaN             6        0
3362794      1799  2018-07-25  18:09:13  ...          NaN             2        0
3362795      1799  2018-07-30  10:58:53  ...          NaN             0        0

[3362796 rows x 8 columns]

In [27]:
#amount 매출액, 0보다 작은 음수는 거래 취소(환불)  amount의 단위는 KRW가 아닙니다.

In [28]:
df['amount'].mean() #평균

145.96230428488676

In [29]:
df['amount'].median() #중간값

75.0

In [30]:
from scipy import stats #절사 평균

stats.trim_mean(df['amount'],0.1) # trim_mean에서 0.1은 각 끝에서 10%를 제외

92.44563975380616

In [31]:
import numpy as np

np.average(df['amount'], weights=df['holyday']) #가중 평균

134.881488440761

In [32]:
pip install wquantiles

Requirement already satisfied: wquantiles in /usr/local/lib/python3.7/dist-packages (0.6)
Requirement already satisfied: numpy>=1.18 in /usr/local/lib/python3.7/dist-packages (from wquantiles) (1.19.5)

In [33]:
import weighted

weighted.median(df['amount'], weights=df['holyday']) #가중 중간값

80.0

In [34]:
df['amount'].std() #표준편차

601.730590208499

In [35]:
df['amount'].quantile(0.75) - df['amount'].quantile(0.25) #IQR

118.0

In [37]:
from statsmodels import robust
robust.mad(df['amount']) #중위절대편차 mad

74.13011092528009